body{
  font-family: Arial, sans-serif;
}

ul{
  display: inline-block;
  padding: 0 0;
  margin-left: 25px;
}
li{
  display: inline;
  list-style: none;
}
li a{
  color: inherit;
  text-decoration: none;
}
li a:hover{
  text-decoration: underline;
}

.things{
  position: relative;
  display: block;
  margin: auto;
  top: 140px;
}

#logo{
  position: relative;
  display: block;
  margin: auto;
}

form input[type=text]{
  border-radius: 0;
  border: 1px solid #DDDDDD;
  padding: 14px;
  font: 12pt Arial, sans-serif;
  color: black;
  display: block;
  margin: 25px auto 15px;
  width: 43%;
  box-shadow: 0 2px 2px #c6c6c6;
}
form input[type=text]:hover, input[type=text]:focus{
  box-shadow: 0 3px 7px #CCC;
}
p{
  margin: auto;
  width: 22%;
}
form input[type=submit]{
  font: bold 10pt Arial, sans-serif;
  color: #757575;
  background-color: #F4F4F4;
  border: none;
  padding: 10px 15px;
  margin: 0 3px;
  border-radius: 2px;
}
form input[type=submit]:hover{
  color: black;
  border: 1px solid #C6C6C6;
  background: -moz-linear-gradient(top, white, #F1F1F1);
  margin: 0 2px;
  box-shadow: 0 1px 1px #c6c6c6;
}

.footer{
  background-color: #F2F2F2;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #F2F2F2;
  position: absolute;
  bottom: 0; left: 0;
  height: 40px; width: 100%;
  color: #667;
  font-size: small;
}
.footer ul li{
    margin: auto 12.5px;
}

#right{
  position: absolute;
  right: 0;
  margin-right: 25px;
}

.header ul{
  position: absolute;
  right: 0; top: 25px;
  font-size: small;
  margin: auto 30px;
}
.header ul li{
  margin: auto 8px;
}

#n a{
  color: white;
  background-color: #7E57E2;
  padding: 8px 10px;
  font-size: 12pt;
  border-radius: 20px;
}
#n a:hover{
  text-decoration: none;
}
